html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  margin: 0;
}

/* -------- HEADER -------- */
header {
  overflow: hidden;
  background-color: #000;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a:hover {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a.active {
  background-color: #602a11;
  color: white;
}

.header-right {
  float: right;
  margin-right: 7.25%;
}

.body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ------- HOME ------- */
.home {
  height: 100vh;
  width: auto;
  background: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1256&q=80");
  background-size: cover;
  text-align: center;
  color: white;
  word-wrap: break-word;
  overflow: hidden;
}

.home-text {
  position: absolute;
  font-size: 2.5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.home-text p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* ------- FIND-US ------- */
.find-us {
  height: 100vh;
  width: auto;
  background-color: black;
}

.find-us img {
    background-color: transparent;
    width: 75%;
    height: auto;
    position: relative;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 2%;
}

.find-us p {
    position: relative;
    color: white;
}

/* ------- ABOUT ------- */
.about {
  height: 100vh;
  width: auto;
  background-color: #ae6341;
  text-align: center;
  padding: 5%;
}

.about h3 {
    margin: 0; 
    color: white;
    font-size: 4vw;
    padding-top: 15%;
    padding-bottom: 5%;
}

/* ------- FOOTER ------- */
footer {
  overflow: hidden;
  background-color: #000;
  text-align: center;
  padding: 2em;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.img-div {
    background-color: transparent;
    width: 95%;
    height: auto;
    position: relative;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.img-div img {
    width: 100%;
    height: auto;
    padding-top: 0;
}

@media screen and (max-width: 650px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }

  header a:hover {
    background-color: gray;
    color: white;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
  }

  .header-right {
    float: none;
    width: 80%;
  }

  .home-text {
    position: absolute;
    font-size: large;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }

  footer {
    overflow: hidden;
    background-color: #000;
    text-align: center;
    padding: 2em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 90%;
    z-index: 2;
  }
}
